.noticia { 
    width: 100%;
}
.news-image {
    width: 200px;
    height: 200px;
}
.conteiner {
    margin-top: 5rem;
}
.news-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}