/* cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card .conteudo {
  padding: 15px;
}

.card h3,
.card h5 {
  margin-top: 0;
}

@media (max-width: 768px) {
  .cards-container{
    flex-direction: column;
    align-items: center;
  }
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}