.grid-section {
margin-top: 4rem;
display: grid;
height: 600px;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}
.latest-news {
  margin-top: 4rem;
}
.grid-section > div {
    border-radius: 1rem;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }