.grid-section {
margin-top: 4rem;
display: grid;
height: 425px;
width: 1250px;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
}
.latest-news {
  margin-top: 4rem;
}
.grid-section > div {
    border-radius: 1rem;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.div1, .div2, .div3,.div4 {
    width: 100%;
    height: 200px;
    overflow: hidden;        /* impede imagem de passar do formato */
    border-radius: 20px;     /* formato desejado */
}

.div1 img { 
    width: 100%;
    height: 100%;
    object-fit: cover;       /* ajusta ao formato */
    border-radius: inherit;  /* herda arredondamento */
}
.div2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* ajusta ao formato */
    border-radius: inherit;  /* herda arredondamento */
}
.div3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* ajusta ao formato */
    border-radius: inherit;  /* herda arredondamento */
}
.div4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* ajusta ao formato */
    border-radius: inherit;  /* herda arredondamento */
}
