.noticia { 
    width: 100%;

}
.news-image {
    width: 100px;
    height: 100px;
}
.conteiner {
    margin-top: 2rem;
        border-bottom: 1px solid #000; 
  padding-bottom: 2rem;
    
}
.news-image > img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}